In [1]:
import pandas as pd

In [2]:
#open/view CSV file
csv_path = "/Users/daniellesears/Downloads/budget_data.csv"

df = pd.read_csv(csv_path)
df.head()

     Date  Profit/Losses
0  Jan-10        1088983
1  Feb-10        -354534
2  Mar-10         276622
3  Apr-10        -728133
4  May-10         852993

In [3]:
#Calculate the total number of months included in this dataset
Months = df["Date"].count()

In [4]:
#calculate net total profit/losses over entire period
total_sum = df["Profit/Losses"].sum()

print (total_sum)

22564198

In [5]:
#Calculate the changes in "Profit/Losses" over the entire period, and then the average of those changes

Previous_Value = df.loc[0, "Profit/Losses"]
Net_Change = []

for x, y in df.iterrows():
    
    Difference = (y["Profit/Losses"])-Previous_Value
    Net_Change.append(Difference)
    Previous_Value = (y["Profit/Losses"])
       
df["Change"] = Net_Change
df

      Date  Profit/Losses   Change
0   Jan-10        1088983        0
1   Feb-10        -354534 -1443517
2   Mar-10         276622   631156
3   Apr-10        -728133 -1004755
4   May-10         852993  1581126
..     ...            ...      ...
81  Oct-16        -729004 -1627245
82  Nov-16        -112209   616795
83  Dec-16         516313   628522
84  Jan-17         607208    90895
85  Feb-17         382539  -224669

[86 rows x 3 columns]

In [6]:
#Calculate the greatest increase in profits
GreatestIncrease = df["Change"].max()
Gi_Date = df[df["Change"] == GreatestIncrease]["Date"].values[0]

In [7]:
# #Calculate the greatest decrease in profits
GreatestDecrease = df["Change"].min()
Gd_Date = df[df["Change"] == GreatestDecrease]["Date"].values[0]

In [9]:
#Calculate average change
#average_change = round(df["Profit/Losses"][1:].mean(), 2)

total_changes = df["Profit/Losses"].sum()
average_change = total_changes / (Months - 1)
average_change = round(average_change, 2)

In [10]:
#Print the financial analysis

print ("Financial Analysis")

print("Total Months:", Months)
print ("Total:", total_sum)
print("Average Change:", average_change)
print(f"Greatest Increase in Profits: {Gi_Date}  ({GreatestIncrease})")
print(f"Greatest Decrease in Profits: {Gd_Date} ({GreatestDecrease})")

Financial Analysis
Total Months: 86
Total: 22564198
Average Change: 265461.15
Greatest Increase in Profits: Aug-16  (1862002)
Greatest Decrease in Profits: Feb-14 (-1825558)